# analysis
- it is quite clear that teams that qualified are performing better in most of the departments than non-qualifing teams
- and then in qualifying also team that is doing even better(overall in all depts) than other teams have won the tournament
- here teamID 1 is performing better than most teams in all depts and it has won championship

In [133]:
import pandas as pd

# batting

In [134]:
batting=pd.read_csv('datasets/battingdata.csv')

In [135]:
print(batting.shape)
batting.head()

(168, 14)

,50s,100s,inns,m,r,b,4s,6s,no,hs,sr,a,teamID,playerID
0,0,0,11,16,114,107,12,3,4,18*,106.54,16.28,1,1
1,0,0,0,1,0,0,0,0,0,0*,-,-,1,898
2,4,1,16,16,635,466,64,23,2,101*,136.26,45.35,1,5443
3,1,0,15,15,357,260,31,19,1,58,137.30,25.50,1,1735
4,1,0,12,16,227,156,19,9,9,62*,145.51,75.66,1,9

In [136]:
print('orange cap')
orangeCap=batting.sort_values('r',axis=0,ascending=False)
orangeCap[['r','teamID','playerID']].head(5)

orange cap

       r  teamID  playerID
2    635       1      5443
9    633       1        24
53   626       4      1125
30   587       3        41
127  513       9       282

## overall season

In [137]:
print(''.center(50,'='))
print('total fifties in season >>> ',sum(batting['50s']))
print('total centuries in season >>> ',sum(batting['100s']))
print('total runs in season >>> ',sum(batting['r']))
print('total balls in season >>> ',sum(batting['b']))
print('total 4s in season >>> ',sum(batting['4s']))
print('total 6s in season >>> ',sum(batting['6s']))
print(''.center(50,'='))

==================================================
total fifties in season >>>  89
total centuries in season >>>  4
total runs in season >>>  17716
total balls in season >>>  13952
total 4s in season >>>  1548
total 6s in season >>>  687
==================================================

## teamWise

In [138]:
print('team-wise stats for batting'.center(40,'='))
print(batting[['50s','100s','r','6s','4s','teamID']].groupby('teamID').sum())
print(''.center(40,'='))

======team-wise stats for batting=======
        50s  100s     r   6s   4s
teamID
1        16     1  2607  115  231
3        11     0  2382   66  233
4        11     0  2061   93  155
5        13     0  2423   98  220
6         9     0  2016   76  181
8         6     2  2087   90  187
9        13     1  2181   79  190
62       10     0  1959   70  151
========================================

In [139]:
# since some teams have played more games than other it is only fair to avgerage statistics
print('team-wise avg stats for batting'.center(60,'='))
print(batting[['b','r','6s','4s','teamID']].groupby('teamID').mean())
print(''.center(60,'='))

==============team-wise avg stats for batting===============
                 b           r        6s         4s
teamID
1       117.625000  162.937500  7.187500  14.437500
3        92.650000  119.100000  3.300000  11.650000
4        65.160000   82.440000  3.720000   6.200000
5       100.947368  127.526316  5.157895  11.578947
6        79.650000  100.800000  3.800000   9.050000
8        68.375000   86.958333  3.750000   7.791667
9        88.300000  109.050000  3.950000   9.500000
62       69.583333   81.625000  2.916667   6.291667
============================================================

# bowling

In [140]:
bowling=pd.read_csv('datasets/bowlingdata.csv')
bowling=bowling.loc[bowling.o!='-']

In [141]:
print(bowling.shape)
bowling.head()

(110, 26)

,bbiw,bbir,bbmw,bbmr,4w,5w,10w,inns,m,b,...,6s,maid,wmaid,ht,a,e,sr,o,teamID,playerID
1,2,16,2,16,0,0,0,1,1,24,...,0,0,0,0,8.00,4.00,12.00,4.00,1,898
3,3,7,3,7,0,0,0,10,15,152,...,8,0,0,0,26.83,6.35,25.33,25.33,1,1735
4,3,13,3,13,0,0,0,16,16,294,...,14,1,1,0,26.61,7.06,22.61,49.00,1,9
5,4,13,4,13,2,0,0,15,15,324,...,13,1,1,0,32.21,8.35,23.14,54.00,1,140
7,1,18,1,18,0,0,0,1,1,13,...,0,0,0,0,18.00,8.30,13.00,2.16,1,4944

In [142]:
print('purple cap')
purplecap=bowling.sort_values('w',axis=0,ascending=False)
purplecap[['w','teamID','playerID']].head()

purple cap

      w  teamID  playerID
130  32       9       157
23   24       3      1561
8    21       1      1745
90   21       6      1124
50   19       4        94

In [143]:
# overall season
print(''.center(50,'='))
print('total wickets in season >>> ',sum(bowling['w']))
print('total maiden overs in season >>> ',sum(bowling['maid']))
print('total maiden wicket overs in season >>> ',sum(bowling['wmaid']))
print('total extra runs in season >>> ',sum(bowling['r'])-sum(batting['r']))
print('total no balls in season >>> ',sum(bowling['nb']))
print('total wide balls in season >>> ',sum(bowling['wb']))
print('total dot balls in season >>> ',sum(bowling['d']))
print('total 4 wickets hauls in season >>> ',sum(bowling['4w']))
print('total 5 wickets hauls in season >>> ',sum(bowling['5w']))
print('total hatricks in season >>> ',sum(bowling['ht']))
print(''.center(50,'='))

==================================================
total wickets in season >>>  670
total maiden overs in season >>>  16
total maiden wicket overs in season >>>  13
total extra runs in season >>>  597
total no balls in season >>>  76
total wide balls in season >>>  461
total dot balls in season >>>  5229
total 4 wickets hauls in season >>>  10
total 5 wickets hauls in season >>>  3
total hatricks in season >>>  1
==================================================

In [144]:
print('hatric player ID >>>',int(bowling.loc[bowling.ht==1,'playerID']))
print('he also has the purple cap')

hatric player ID >>> 157
he also has the purple cap

In [145]:
# team wise
# since some teams have played more games than other it is only fair to avgerage statistics
print('team-wise stats for bowling'.center(40,'='))
print(bowling[['w','nb','wb','d','maid','teamID']].groupby('teamID').sum())
print('wickets-no-wide-dot'.center(40,'='))

======team-wise stats for bowling=======
          w  nb  wb    d  maid
teamID
1        96   8  85  700     3
3        96   8  47  721     4
4        75   4  48  620     3
5       100  20  59  767     0
6        77  12  48  640     1
8        62   7  70  518     1
9        92  13  55  641     2
62       72   4  49  622     2
==========wickets-no-wide-dot===========

# fielding

In [146]:
fielding=pd.read_csv('datasets/fieldingdata.csv')
print(fielding.shape)
fielding.head()

(168, 7)

    c  ro  s  inns   m  teamID  playerID
0  13   1  0     9  16       1         1
1   0   1  0     1   1       1       898
2   6   0  0     6  16       1      5443
3   7   0  0     5  15       1      1735
4  13   2  0     8  16       1         9

In [147]:
# overall season
print(''.center(50,'='))
print('total catches in season >>> ',sum(fielding['c']))
print('total run outs in season >>> ',sum(fielding['ro']))
print('total stumpings in season >>> ',sum(fielding['s']))
print(''.center(50,'='))

==================================================
total catches in season >>>  475
total run outs in season >>>  69
total stumpings in season >>>  13
==================================================

In [148]:
print('team-wise stats for fielding'.center(40,'='))
print(fielding[['c','ro','s','teamID']].groupby('teamID').sum())
print('catches-runOuts-stumpings'.center(40,'='))

======team-wise stats for fielding======
         c  ro  s
teamID
1       72  10  0
3       64  10  3
4       53   6  0
5       63  14  2
6       51   6  2
8       46  10  4
9       71   7  1
62      55   6  1
=======catches-runOuts-stumpings========

In [149]:
print('top catchers')
catches=fielding.sort_values('c',axis=0,ascending=False)
catches[['c','teamID','playerID']].head()

top catchers

      c  teamID  playerID
134  15       9       233
0    13       1         1
4    13       1         9
9    12       1        24
53   11       4      1125

In [150]:
print('team-wise avg stats for fielding'.center(40,'='))
print(fielding[['c','ro','teamID']].groupby('teamID').mean())
print('catches-runOuts'.center(40,'='))

====team-wise avg stats for fielding====
               c        ro
teamID
1       4.500000  0.625000
3       3.200000  0.500000
4       2.120000  0.240000
5       3.315789  0.736842
6       2.550000  0.300000
8       1.916667  0.416667
9       3.550000  0.350000
62      2.291667  0.250000
============catches-runOuts=============