In [1]:
import pandas as pd

# batting

In [2]:
batting=pd.read_csv('datasets/battingdata.csv')

In [3]:
print(batting.shape)
batting.head()

(168, 14)

,50s,100s,inns,m,r,b,4s,6s,no,hs,sr,a,teamID,playerID
0,0,0,11,16,114,107,12,3,4,18*,106.54,16.28,1,1
1,0,0,0,1,0,0,0,0,0,0*,-,-,1,898
2,4,1,16,16,635,466,64,23,2,101*,136.26,45.35,1,5443
3,1,0,15,15,357,260,31,19,1,58,137.30,25.50,1,1735
4,1,0,12,16,227,156,19,9,9,62*,145.51,75.66,1,9

In [8]:
orangeCap=batting.sort_values('r',axis=0,ascending=False)
orangeCap.head(5)

,50s,100s,inns,m,r,b,4s,6s,no,hs,sr,a,teamID,playerID
2,4,1,16,16,635,466,64,23,2,101*,136.26,45.35,1,5443
9,6,0,16,16,633,458,60,23,2,95*,138.20,45.21,1,24
53,6,0,13,13,626,451,48,30,3,98*,138.80,62.60,4,1125
30,3,0,16,16,587,471,63,16,1,92,124.62,39.13,3,41
127,6,0,14,15,513,356,48,21,2,78,144.10,42.75,9,282

## overall season

In [40]:
print(''.center(50,'='))
print('total fifties in season 2021 >>> ',sum(batting['50s']))
print('total centuries in season 2021 >>> ',sum(batting['100s']))
print('total runs in season 2021 >>> ',sum(batting['r']))
print('total 4s in season 2021 >>> ',sum(batting['4s']))
print('total 6s in season 2021 >>> ',sum(batting['6s']))
print(''.center(50,'='))

==================================================
total fifties in season 2021 >>>  89
total centuries in season 2021 >>>  4
total runs in season 2021 >>>  17716
total 4s in season 2021 >>>  1548
total 6s in season 2021 >>>  687
==================================================

## teamWise

In [31]:
# fifties teamwise
print('50s and 100s by teams'.center(30,'='))
print(batting[['50s','100s','teamID']].groupby('teamID').sum())
print(''.center(30,'='))

====50s and 100s by teams=====
        50s  100s
teamID
1        16     1
3        11     0
4        11     0
5        13     0
6         9     0
8         6     2
9        13     1
62       10     0
==============================

In [36]:
print('total 6s by teams'.center(30,'='))
print(batting[['6s','teamID']].groupby('teamID').sum())
print(''.center(30,'='))

======total 6s by teams=======
         6s
teamID
1       115
3        66
4        93
5        98
6        76
8        90
9        79
62       70
==============================

In [37]:
print('total 4s by teams'.center(30,'='))
print(batting[['4s','teamID']].groupby('teamID').sum())
print(''.center(30,'='))

======total 4s by teams=======
         4s
teamID
1       231
3       233
4       155
5       220
6       181
8       187
9       190
62      151
==============================

In [38]:
print('average runs by teams'.center(30,'='))
print(batting[['r','teamID']].groupby('teamID').mean())
print(''.center(30,'='))

====average runs by teams=====
                 r
teamID
1       162.937500
3       119.100000
4        82.440000
5       127.526316
6       100.800000
8        86.958333
9       109.050000
62       81.625000
==============================

In [34]:
print('total runs by teams'.center(30,'='))
print(batting[['r','teamID']].groupby('teamID').sum())
print(''.center(30,'='))

=====total runs by teams======
           r
teamID
1       2607
3       2382
4       2061
5       2423
6       2016
8       2087
9       2181
62      1959
==============================